
body {
  color: ##994E1D;
  background: #E3C5BB;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  overflow-x: hidden;
  /*padding: 0 1.5em;*/
}

.edu-header{
  font-size: 2em;
  border-bottom: 1px dotted gray;
  padding: 1em 0;
  text-align: center;
}

.edu-c {
  border-bottom: 1px dotted gray;
  padding: 1em 1.5em;
  /*padding: 1em 0;*/
  /*padding: 0 1.5em;*/
}

.edu-t {
  line-height: 1em;
  color: #aaa;
  font-family: sans-serif;
  float:left;
  font-weight: 700;
  padding-right: 0.3em;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.edu-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.edu-q {
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
}

.edu-a {
  clear: both;
  color: black;
  display: none;
  padding-left: 1.5em;
  font-size: 18px;
}
