@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  color: "black";
  background-color: #DADEED;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  /*padding: 0 1.5em;*/
}

.faq-header{
  font-size: 2em;
  border-bottom: 1px dotted gray;
  padding: 1em 0;
  text-align: center;
}

.faq-c {
  border-bottom: 1px dotted gray;
  padding: 1em 1.5em;
}

.faq-t {
  line-height: 1em;
  color: #8F55A8;
  font-family: sans-serif;
  float:left;
  font-weight: 700;
  padding-right: 0.3em;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: black;
  display: none;
  padding-left: 1.5em;
}
